body {
  height: 100%; /* Full height for the body and html to enable full centering */
  margin: 0; /* Remove default margin */
  display: flex; /* Enables the use of flexbox properties */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: grey;
}

#traffic-light {
  width: 200px; /* Set width */
  height: 600px; /* Set height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white; /* Traffic light background */
  padding: 5px; /* Spacing inside the container */
  margin-top: 50px;
}

.light {
  width: 150px;
  height: 150px;
  margin: 5px 5px; /*centers the light */
  border: 20px solid;
}

.red {
  background-color: red;
  border-color: rgb(146, 23, 23);
}

.yellow {
  background-color: yellow;
  border-color: rgb(159, 159, 31);
}

.green {
  background-color: green;
  border-color: rgb(47, 76, 3);
}
